.Banner{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}


.title{
    font-size: 50px;
}

.infoLeft{
    padding: 5%;
}

.text{
    color: hsl(257, 7%, 63%);
    margin-bottom: 20px;
}

.imageRight{
    position: relative;
    left: 150px;
}

.imageRight img{
    width: 100%;
}