button{
    font-weight: 700;
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.Button{
    display: flex;
    text-align: center;
    font-size: 18px;
    background-color: hsl(180, 66%, 49%);
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    width: 5em;
}

.Button:hover{
    cursor: pointer;
}

.buttonStyle{
    color: white;
}