.FooterTop{
    background-image: url("../assets/bg-boost-desktop.svg");
    background-size: auto;
    background-color: hsl(257, 27%, 26%);
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 35px;
}

.buttonBox{
    margin: 20px auto;
}

.titleFooter{
    color: white;
}