.FooterBottom{
    padding: 60px;
    background-color: hsl(260, 8%, 14%);
    display: grid;
    grid-template-columns: 35% 16.25% 16.25% 16.25% 16.25%;
}

ul{
    list-style: none;
}

.titleNav{
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}

li{
    font-size: 14px;
    font-weight: 100;
    color: hsl(0, 0%, 75%);
}

.icon{
    margin-left: 20px;
}

.logo{
    margin: 0 80px;
    width: 110px;
}

.titleFooter{
    color: white;
    font-size: 28px;
    margin: 0 50px;
}
