.Stadistics{
    padding-top: 260px;
    background-color: hsl(0, 9%, 96%);
}

.infoStadistic{
    position: relative;
    top: -120px;
}
.infoHeader{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.titleHeader{
    margin: 10px 0;
}

.textHeader{
    color: hsl(257, 7%, 63%);
}

.Card{
    display: flex;
    padding: 50px;
}

.lineCyan{
    position: relative;
    top: 200px;
    background-color: hsl(180, 66%, 49%);
    width: 30px;
    height: 10px;
}